@import '../../../../global';
@import './bannerBackground.scss';

.dynamic-banner-section {
    display: flex;
    width: 100%;
    aspect-ratio: 1598.995 / 653;
    // height: 653px;
    border-radius: clamp(5px, 2.604vw, 49.997px);
   
    border: clamp(10px, 2.083vw, 39.994px) solid $black-12;
    margin-left: auto;
    margin-right: auto;
    margin-top: clamp(40px, 2.6042vw, 50px);
    margin-bottom: clamp(27px, 3.3854vw, 65px);
    position: relative;
    overflow: hidden; // ensure the border-radius clips children

    z-index: 4;
    @media(max-width: 462px) {
        border: none;
        
    }

    @media (max-width: 1024px) {
        min-height: 399.994px;
        // aspect-ratio: auto; // Or remove if it breaks the layout
        max-height: 100%;
        ;
    }

    .react-player {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        
        video {
            object-fit: cover;
        }
    }

    .dynamic-banner-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(0deg, #141414 0%, rgba(20, 20, 20, 0) 100%);
        .banner-badge {
            width: clamp(120px, 8.177vw, 156.998px);
            position: absolute;
            top: clamp(8px, 0.625vw, 12px);
            left: 0;
            padding: clamp(4px, 0.729vw, 13.997px);
            border-radius: 0.417vw;
            background: linear-gradient(91.84deg, rgba(139, 106, 29, 0.5) 7.71%, rgba(0, 0, 0, 0.5) 115.5%);
            border: 1px solid rgba(139, 106, 29, 0.5);

            @media (max-width: 850px) {
                width: clamp(80px, 6.25vw, 120px);
            }

            .banner-badge-text {
                font-weight: 500;
                font-size: clamp(13px, 0.938vw, 18.01px);
                line-height: clamp(20px, 1.406vw, 26.995px);
                letter-spacing: 0%;
                text-align: center;
                color: $secondary-60;

                @media (max-width: 850px) {
                    font-size: clamp(10px, 0.677vw, 13px)
                }
            }
        }

        .play-and-navigators-wrapper {
            position: absolute;
            top: clamp(80px, 10.208vw, 195.9936px);
            display: flex;
            justify-content: space-between;
            align-items: start;
            padding: 0 0.521vw;
            width: 100%;

            // Center play button when no arrows are shown
            &.center-play {
                justify-content: center;
                align-items: center;
            }

            @media (max-width: 1024px) {
                top: clamp(160px, 10.208vw, 195.9936px);
            }

            @media (max-width: 650px) {
                align-items: center;
            }

            .pan-arrow-left,
            .pan-arrow-right {
                border: 1px solid rgba(139, 106, 29, 0.5);
                background: linear-gradient(91.84deg, rgba(139, 106, 29, 0.5) 7.71%, rgba(0, 0, 0, 0.5) 115.5%);
            }

            .pan-play-btn {
                background: linear-gradient(91.84deg, $gold-gradient-default 7.71%, $gold-gradient-default-secondary 115.5%);
                opacity: 0.6    ;
                width: clamp(50px, 7.912vw, 151.91px);
                aspect-ratio: 151.91 / 151.904;
                border-radius: 100%;
                display: flex !important;
                justify-content: center;

                .align-content {
                    width: 2.786vw;

                    img {
                        width: 100%;
                        aspect-ratio: 53.491 / 59.8144;
                        color: #FFFFFFDE !important;
                        margin: auto;
                    }
                }
            }

            .pan-arrow-left,
            .pan-arrow-right {
                border-radius: 8px;
                gap: 0.521vw;
                padding: clamp(5px, 0.729vw, 13.997px);
                width: clamp(10px, 2.917vw, 56.006px);
                aspect-ratio: 56.006 / 56;

                @media (max-width: 850px) {
                    padding: clamp(5px, 0.417vw, 8px);
                }

                @media (max-width: 650px) {
                    padding-left: 5px;
                    padding-right: 5px;
                    width: clamp(27px, 2.917vw, 56.006px);
                }

                .align-content {
                    img {
                        width: clamp(20px, 1.458vw, 27.994px);
                        aspect-ratio: 1 / 1;
                        margin: auto;

                        @media (max-width: 850px) {
                            width: clamp(15px, 1.042vw, 20px);
                        }
                    }
                }
            }
        }

        .banner-description-container {
            display: flex;
            flex-direction: column;
            gap: 1.146vw;
            position: absolute;
            left: 0.521vw;
            bottom: clamp(50px, 4.771vw, 90px);
            
            @media(max-width: 462px) {
                left: 50%;
                transform: translateX(-50%);
                gap: 20px;
                bottom: clamp(60px, 5.771vw, 100px);
            }

            .banner-description-container {
                bottom: 20px;
                left: 10px;
                // adjust text width
            }

            .bdc-text-wrapper {
                display: flex;
                flex-direction: column;
                gap: 0.938vw;

                .bdc-header {
                    color: $white;
                    font-weight: 600;
                    font-size: clamp(15px, 2.5vw, 48px);
                    line-height: clamp(20px, 3.125vw, 60px);
                    letter-spacing: -2%;
                }

                .movie-metadata {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    margin: 0.5rem 0;
                    color: $secondary-50;
                    font-size: clamp(12px, 0.833vw, 16px);

                    .rating, .year, .duration {
                        padding: 0.25rem 0.5rem;
                        background: rgba(10, 72, 52, 0.3);
                        border-radius: 4px;
                        border: 1px solid rgba(10, 72, 52, 0.6);
                    }
                }

                .bdc-paragraph {
                    color: $secondary-50;
                    font-weight: 500;
                    font-size: clamp(10px, 0.938vw, 18.01px);
                    line-height: clamp(16px, 1.406vw, 26.995px);
                    letter-spacing: 0%;
                    width: clamp(350px, 28.438vw, 546.01px);

                    @media(max-width: 462px) {
                        display: none;
                    }
                    cursor: pointer;
                    transition: all 0.3s ease;
                    
                    &:hover {
                        color: $secondary-60;
                    }

                    .read-more {
                        color: #fff;
                        opacity: 0.8;
                        font-style: italic;
                        margin-left: 4px;
                        
                        &:hover {
                            opacity: 1;
                            text-decoration: underline;
                        }
                    }
                }
            }

            .bdc-btns {
                display: flex;
                gap: 1.042vw;
                align-items: center;

                @media(max-width: 462px) {
                    flex-direction: column;
                    gap: 20px;
                }

                .bdc-play-now-btn {
                    background: linear-gradient(91.84deg, #8B6A1D 7.71%, #000000 115.5%);
                    border-radius: 0.417vw;
                    padding: clamp(8px, 0.729vw, 13.997px) clamp(20px, 1.25vw, 24px);
                    gap: 0.208vw;
                    height: 100%;
                    min-height: 33px;
                    display: flex;
                    align-items: center;

                    @media(max-width: 750px) {
                        padding: clamp(4px, 0.729vw, 13.997px) clamp(15px, 1.25vw, 24px);
                    }

                    @media(max-width: 462px) {
                        width: clamp(100px, 8.177vw, 157px);
                        padding: clamp(8px, 0.729vw, 13.997px) clamp(20px, 1.25vw, 24px);
                        border-radius: 8px;
                    }

                    .align-content {
                        img {
                            width: clamp(13px, 0.929vw, 17.837px);
                            aspect-ratio: 17.837 / 27.9936;
                        }

                        p {
                            font-weight: 600;
                            font-size: clamp(10px, 0.938vw, 18.01px);
                            line-height: clamp(20px, 1.434vw, 27.533px);
                            letter-spacing: 0%;

                            @media(max-width: 462px) {
                                font-size: clamp(14px, 0.938vw, 18.01px);
                            }
                        }
                    }
                }

                .bdc-information-circle-btn {
                    border-radius: 0.417vw;
                    padding: clamp(8px, 0.729vw, 13.997px) clamp(20px, 1.25vw, 24px);
                    gap: 0.208vw;
                    border: 0.052vw solid #0A483499;
                    height: 100%;
                    min-height: 33px;
                    display: flex;
                    align-items: center;
                    background: linear-gradient(0deg, rgba(91, 127, 96, 0.1), rgba(91, 127, 96, 0.1)),
                    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

                    @media(max-width: 750px) {
                        padding: clamp(4px, 0.729vw, 13.997px) clamp(15px, 1.25vw, 24px);
                    }

                    @media(max-width: 462px) {
                        display: none !important;
                    }

                    .align-content {
                        img {
                            width: clamp(16px, 1.25vw, 24px);
                            aspect-ratio: 24 / 24;
                        }

                        p {
                            font-weight: 600;
                            font-size: clamp(10px, 0.938vw, 18.01px);
                            line-height: clamp(20px, 1.434vw, 27.533px);
                            letter-spacing: 0%;
                        }
                    }
                }

                .bdc-icon-btns {
                    display: flex;
                    gap: 1.042vw;
                    height: 100%;
                    min-height: 33px;
                    align-items: center;
                    
                    .bdc-plus-btn,
                    .bdc-like-btn,
                    .bdc-mute-btn {
                        border-radius: 8px;
                        padding: clamp(8px, 0.729vw, 13.997px);
                        gap: 0.521vw;
                        border: 1px solid;
                        border-image-source: linear-gradient(0deg, rgba(91, 127, 96, 0.1), rgba(91, 127, 96, 0.1)),
                        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
                        background: linear-gradient(0deg, rgba(91, 127, 96, 0.1), rgba(91, 127, 96, 0.1)),
                        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
                        height: 100%;
                        min-height: 33px;
                        display: flex;
                        align-items: center;

                        .liked {
                            path {
                                fill: $white;
                            }
                            
                        }

                        @media(max-width: 750px) {
                            padding: clamp(4px, 0.729vw, 13.997px);
                        }

                        @media(max-width: 750px) {
                            padding: clamp(8px, 0.729vw, 13.997px);
                        }
                    }

                    .bdc-plus-btn,
                    .bdc-like-btn,
                    .bdc-mute-btn {
                        .align-content img {
                            width: clamp(12px, 1.458vw, 27.994px);
                            aspect-ratio: 27.994 / 28;
                            margin: auto;

                            @media(max-width: 750px) {
                                width: clamp(20px, 1.458vw, 27.994px);
                            }
                        }
                    }

                    .bdc-plus-btn {
                        &.active {
                            background: linear-gradient(91.84deg, rgba(139, 106, 29, 0.5) 7.71%, rgba(0, 0, 0, 0.5) 115.5%);
                        }
                    }
                    .bdc-like-btn {
                        &.liked {
                            background: linear-gradient(91.84deg, rgba(139, 106, 29, 0.5) 7.71%, rgba(0, 0, 0, 0.5) 115.5%);
                        }
                    }
                }
            }
        }

        .slide-indicators-container {
            position: absolute;
            bottom: clamp(15px, 1.042vw, 20px);
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            z-index: 2;
            width: 100%;
            padding: 0 20px;
            
            @media(max-width: 462px) {
                bottom: clamp(10px, 0.833vw, 16px);
            }

            .slide-indicator {
                cursor: pointer;
                padding: 2px;
                transition: all 0.3s ease;

                .indicator-line {
                    width: 23px;
                    height: 4px;
                    border-radius: 100px;
                    background: linear-gradient(137deg, rgba(97, 146, 103, 0.70) 6.32%, rgba(91, 127, 96, 0.63) 44.93%);
                    opacity: 0.3;
                    transition: all 0.3s ease;
                }

                &.active {
                    .indicator-line {
                        opacity: 1;
                        width: 16.33px;
                        background: #FFFFFF;
                    }
                }

                &:hover {
                    .indicator-line {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}