@import "../../../global";
@import '../../../styles/variables';
.drawer {
    height: 100vh;
    background: url("../../../../public/assets/svg/drawer-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed; // Change from relative to fixed
    top: 0; // Position at the top of the viewport
    right: 0; // Position at the right of the viewport
    width: 100vw;
    z-index: 100; // Ensure it's above other content, including the header
    transform: translateX(100%); // Start off-screen to the right
    transition: transform 0.3s ease-in-out; // Add transition for smooth sliding
    display: flex
;
    align-items: center;
    &.open { // Add a class for the open state
        transform: translateX(0); // Slide into view
    }

    .drawer-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: clamp(12px, 0.938vw, 18px);
        width: 100%;
        overflow-y: auto; // Allow scrolling if content exceeds height
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            height: 16px;
            border-radius: 99px;
            background-color: $secondary-40; // Use a variable for consistency
        }

        .invisible {
            visibility: hidden;
        }
        li {
            list-style: none;
            display: block;

            .nav-link {
                color: $white;
                font-weight: 400;
                font-size: clamp(15px, 0.833vw, 15.994px);
                line-height: 1.25vw;
                letter-spacing: 0%;
                font-weight: medium;
                text-decoration: none;
                transition: .2s linear;
                position: relative;

                &.active-link {
                    background: linear-gradient(
                        to right,
                        $gold-gradient-hover,
                        $gold-gradient-hover-secondary
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: -.3125vw; // adjust as needed
                        width: 15.001px; // how long the underline should be
                        height: 3.001px; // thickness of the underline
                        background: linear-gradient(
                            to right,
                            $gold-gradient-hover,
                            $gold-gradient-hover-secondary
                        );
                        border-radius: 23px;
                    }
                }

                &:hover {
                    opacity: .5;
                }
            }
        }
    }

    .signup-login-wrapper {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        gap: clamp(14px, .8854vw, 16px);
        margin-top: .9375vw;
        .signup-btn,
        .login-btn {
            border-radius: 8px;
            padding: clamp(7px, .5208vw, 10px) clamp(20px, 1.25vw, 24px);
            font-weight: 600;
            font-size: clamp(10px, .625vw, 12px);
            line-height: 150%;
            letter-spacing: 0%;
            vertical-align: middle;
            color: $white;
        }

        .signup-btn {
            background: linear-gradient(
                to right,
                $gold-gradient-hover,
                $gold-gradient-hover-secondary
            );
        }

        .login-btn {
            background: #FFFFFF1A;
        }
    }

    .close-btn {
        cursor: pointer;
        background: transparent;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4.8958vw;
        .align-content {
            img {
                width: clamp(50px, 3.438vw, 66px);
                height: auto;
            }
        }
    }

    button,
    a {
        outline: none;
        text-decoration: none;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border: none;
        font-size: $normal_font;
        white-space: nowrap;
        cursor: pointer;
    }

    .btn-ghost {
        background: transparent;
        transition: 0.4s all;
        width: 100%;
        margin-top: 10px;

        &:hover {
        }
    }

    .btn-filled {
        border-radius: $border_rad;
        transition: 0.4s all;
        width: 100%;

        &:hover {
        }

        .dropdown-toggler {
            background: transparent;
            color: #fff;
            font-weight: medium;
            border: none;
            cursor: pointer;
            padding: 10px;
            text-align: left;
            width: 100%;
            transition: .2s linear;

            &:hover {
                opacity: .5;
            }
        }

        .dropdown-menu {
            padding: 10px;
            list-style: none;
            margin-top: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            li {
                margin: 10px 0;

                a {
                    color: #fff;
                    text-decoration: none;
                    transition: .2s linear;

                    &:hover {
                        opacity: .5;
                    }
                }
            }
        }
    }
}